*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
.active{
    font-weight: 600;
    transition: all .5s;
}
.news-section-body{
    overflow-y: scroll;
    position: relative;
}
.vh-75{
    height: 75vh;
}
.bg-grey{
    background-color: rgba(224, 224, 224, 0.74);
}
.fs-6{
    font-size: 12px !important;
}
img{
    width: 100%;
}
.contact-image{
    object-fit: cover;
    height: 250px;
    width: 250px;
}
.news-section-body a{
    font-size: 13px;
}
#root{
    min-height: 100vh;
}
.nav-link:hover{
    color: #1e90ff;
}
.scroll-div{
    background-color: rgba(0, 68, 255, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.quiz-item{
    width: 700px;
}
.half-label{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.half-button{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.animation-appear-smooth{
    animation-duration: .8s;
    animation-name: appear-smooth;
}
.display-hidden{
    display: none;
}
@keyframes appear-smooth{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width: 768px){
    .vh-75{
        height: auto;
        max-height: 75vh;
    }
}
